


/*Estilos para el Login*/
.html{
  background-color: whitesmoke;
  
}
.loginCaja{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: whitesmoke;

}
.bodyLogin {
  height: 100%;
}

.bodyLogin {
  display: flex;
  align-items: center;
  margin-top: 10%;
  
  padding-top: 40px;
  padding-bottom: 40px;
  
  width: 500px;
  background-color: white;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
}
.form-floating{
  margin: 10px;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} 

